@tailwind base;
@tailwind components;
@tailwind utilities;
/* globals.css */
@layer utilities {
  * {
    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: #0790e8 transparent;
  }

  /* Webkit browsers (Chrome, Safari, Edge) */
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background: #0790e8;
    border-radius: 4px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: #0577c7; /* Darker shade on hover */
  }

  *::-webkit-scrollbar-corner {
    background: transparent;
  }
}
